.about p {
  color: rgb(51, 51, 51);
  font-size: 1.3rem;
  margin: 0;
}

.homeBottomContactIcons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.homeBottomContactIcons > a {
  text-decoration: none;
  color: #244d4d;
  margin: 20px;
  transition: transform 300ms linear;
}

.homeBottomContactIcons > a:hover {
  color: #244d4d;
  transform: scale(1.1);
}

.homeBottomContactIcons > a > svg {
  font-size: 2rem;
  color: #244d4d;
  margin-right: 10px;
}
