.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px 20px 10px;
}

.footer span {
  font-size: 1rem;
  font-weight: 500;
}

.footerSocialIcons {
  display: flex;
  padding: 20px 0 0 0;
}

.footerSocialIcons > a {
  font-size: 25px;
  text-decoration: none;
  margin: 0 10px;
  transition: transform 300ms linear;
}

.footerSocialIcons > a:hover {
  transform: scale(1.1);
}

.footerSocialIcons > a > svg {
  color: #244d4d;
}
